@inherits Bdziam.DockView.Infrastructure.IdComponentBase

<div @attributes="@AdditionalAttributes" class="@ClassString" title="@Function" data-function="@Function" @onclick="HandleIconClick">
    <span class="material-icons">@DisplayIconName</span>
</div>