@inherits DockViewIcon

<div @attributes="@AdditionalAttributes" class="@ClassString" title="@Function" data-function="@Function">
    <span class="material-icons" data-bs-toggle="dropdown">@DisplayIconName</span>
    <ul class="dropdown-menu"></ul>
</div>
